.rty {
    background-position: center;
    background-size: cover;
    width: 100%;
    
}
.jkl {
    height: 400px;
}
.ghj {
    border-radius: 10px;
    height: 100px;
    height: 100px;
}